{% extends 'qapp/base.html' %}

{% block content %}
<div class="card">
  {% if form.errors %}
    <p class="error">Login lub hasło nie są prawidłowe.</p>
  {% endif %}
  {% if next %}
    {% if user.is_authenticated %}
      <p class="error">
        Twoje konto nie ma dostępu do tej strony.
        Aby przejść dalej, zaloguj się kontem posiadający dostęp do żądanych zasobów
      </p>
    {% else %}
      <p>Zaloguj się, aby przejść do żądanych zasobów.</p>
    {% endif %}
  {% endif %}
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
    <div>
      <table>
        <tr>
          <td>Nazwa użytkownika: </td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>Hasło: </td>
          <td>{{ form.password }}</td>
        </tr>
     </table>
    </div>
  <div>
    <button type="submit" class="standard-button" value="login">Zaloguj</button>
    <input type="hidden" name="next" value="{{ next }}">
  </div>
  </form>
</div>
{% endblock %}

{% block firstcard %}
    <h3>Informacje o użytkowniku</h3>
    <hr>
    {% if user.is_authenticated %}
    Zalogowany użytkownik: <b>{{ user }}</b>
    <br>
    <br>
    Należy do grupy:
    {% for group in user.groups.all %}
    <b>{{ group|upper }},</b>
    {% endfor %}
    {% else %}
    Treść dostępna tylko dla zalogowanych użytkowników!
    {% endif %}
{% endblock %}