{% extends 'qapp/base.html' %}

{% block title %}QAPP - dodaj bramkę{% endblock %}

{% block content %}
<div class="card" id="gate_add">
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {%csrf_token%}
        {% if log_messages %}
        <p>Rezultaty zmian:</p>
        {% for time, info in log_messages.items %}
        {% if info.1 == 'E' %}
        <p class="error">{{ time }} {{ info.1 }}: {{ info.0 }} {{ info.2 }}</>
        {% else %}
        <p>{{ time }} {{ info.1 }}: {{ info.0 }} {{ info.2 }}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% for error in gate_form.non_field_errors %}
        <p class="error">Błąd: {{ error }}</p>
        <br>
        <br>
        {% endfor %}
        <table class="wp-table">
            <tr>
                <th class="field-header">Pole</th>
                <th>Wartość</th>
            </tr>
            {% for field in gate_form %}
            {% if field.name != 'author' %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}{{ field }}</td>
            </tr>
            {% else %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}{{ request.user.username }}{{ field }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            {{ gate_formset.management_form }}
            <tr>
                <td class="separator" colspan="2">Sekcja plików</td>
            </tr>
            {% for form in gate_formset %}
            <tr>
                <td>Pole nr {{ forloop.counter }}:</td>
                <td></td>
            </tr>
            {% for field in form.visible_fields %}
            <tr>
                <td>Dodaj:</td>
                <td>
                    {% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}{{ field }}
                    <br>
                    <div class="upload-status-small" id="upload_status_{{ field.auto_id }}"></div>
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
        <br>
        <button type="submit" class="standard-button">Zapisz</button>
        <input type="submit" class="standard-button" name="save_add_another" value="Zapisz i dodaj nast.">
    </form>
    <div id="canvas-area" style="overflow: hidden; height: 0;"></div>
</div>
{% endblock %}