{% extends 'qapp/base.html' %}

{% block title %}QAPP - dodaj bramkę{% endblock %}

{% block content %}
<div class="card" id="gate_add">
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {%csrf_token%}
        {% if log_messages %}
        <p>Rezultaty zmian:</p>
        {% for time, info in log_messages.items %}
        {% if info.1 == 'E' %}
        <p><font color="red">{{ time }} {{ info.1 }}: {{ info.0 }} {{ info.2 }}</font></p>
        {% else %}
        <p>{{ time }} {{ info.1 }}: {{ info.0 }} {{ info.2 }}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% for error in gate_form.non_field_errors %}
        <font color="red">Błąd: {{ error }}</font><br><br>
        {% endfor %}
        <table class="wp-table">
            <tr>
                <th>Pole</th>
                <th>Wartość</th>
            </tr>
            {% for field in gate_form %}
            {% if field.name != 'author' %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{% if field.errors %}<font color="red">{{ field.errors }}{% endif %}{{ field }}</font></td>
            </tr>
            {% else %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{% if field.errors %}<font color="red">{{ field.errors }}{% endif %}{{ request.user.username }}{{ field }}</font></td>
            </tr>
            {% endif %}
            {% endfor %}
            {{ gate_formset.management_form }}
            {% for form in gate_formset %}
            {% for field in form.visible_fields %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{% if field.errors %}<font color="red">{{ field.errors }}{% endif %}{{ field }}</font></td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
        <br>
        <button type="submit" class="standard-button">Zapisz</button>
        <input type="submit" class="standard-button" name="save_add_another" value="Zapisz i dodaj nast.">
    </form>
</div>
{% endblock %}