{% extends 'qapp/base.html' %}
{% load user_tags %}

{% block title %}QAPP - edytuj bramkę{% endblock %}

{% block content %}
<div class="card" id="gate_{{ gate.id }}_edit">
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% for error in gate_form.non_field_errors %}
        <p class="error">Błąd: {{ error }}</p>
        <br>
        <br>
        {% endfor %}
        {% for error in gate_formset.non_field_errors %}
        <p class="error">Błąd: {{ error }}</p>
        <br>
        <br>
        {% endfor %}
        <table class="wp-table">
            <tr>
                <th class="field-header">Pole</th>
                <th>Wartość</th>
            </tr>
            {% for field in gate_form %}
            {% if field.is_hidden %}
            {% with field.name as fieldn %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}
                    {% if fieldn != 'creation_date' %}
                    {{ gate_form.instance|get_obj_attr:fieldn|default_if_none:"-" }}
                    {% else %}
                    {{ gate_form.instance|get_obj_attr:fieldn|date:"Y-m-d H:i:s.u" }}
                    {% endif %}
                </td>
            </tr>
            {% endwith %}
            {% else %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}{{ field }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            {{ gate_formset.management_form }}
            <tr>
                <td class="separator" colspan="2">Sekcja plików</td>
            </tr>
            {% for form in gate_formset %}
            <tr>
                <td>Pole nr {{ forloop.counter }}:</td>
                <td></td>
            </tr>
            {% if form.instance.file %}
            <tr>
                <td>Aktualnie dodany:</td>
                <td>
                    {{ form.instance.filename }}
                <td>
            </tr>
            {% endif  %}
            {% for field in form.visible_fields %}
            {% if field.label == 'Plik' %}
            <tr>
                <td>Zmień/dodaj:</td>
                <td>
                    {% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}{{ field }}
                    <br>
                    <div class="upload-status-small" id="upload_status_{{ field.auto_id }}"></div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>Usuń:</td>
                <td>
                    {% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}{{ field }}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% endfor %}
        </table>
        <br>
        <button type="submit" class="standard-button">Zapisz</button>
    </form>
    <div id="canvas-area" style="overflow: hidden; height: 0;"></div>
</div>
{% endblock %}

{% block firstcard %}
<h3>Szybkie akcje:</h3>
<hr>
<ul>
    <li><a href="{{ request.META.HTTP_REFERER }}">Wróć do poprzedniego widoku</a></li>
</ul>
{% endblock %}