{% extends 'qapp/base.html' %}

{% block title %}QAPP - edit gate{% endblock %}

{% block content %}
<div class="card" id="gate_{{ gate.id }}_edit">
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {%csrf_token%}
         <table class="wp-table">
            <tr>
                <th>Pole</th>
                <th>Wartość</th>
            </tr>
            {% for field in gateform %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{% if field.errors %} <font color="red">{{ field.errors }}{% endif %}{{ field }}</font></td>
                </tr>
            {% endfor %}
            {{ formset.management_form }}
            {% for form in formset %}
                {% for field in form.visible_fields %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{% if field.errors %} <font color="red">{{ field.errors }}{% endif %}{{ field }}</font></td>
                </tr>
                {% endfor %}
            {% endfor %}
        </table>
        <br>
        <button type="submit" class="save btn btn-default">Zapisz</button>
    </form>
</div>
{% endblock %}