{% extends 'qapp/base.html' %}

{% block title %}QAPP - strona główna{% endblock%}

{% block content %}
    <div class="card" id="index">
        <h1>Wybierz moduł:</h1>
        <a href="{% url 'qapp:bjc_list' %}" class="index_button">Bramki jakościowe - człony</a>
        <a href="{% url 'qapp:bjw_list' %}" class="index_button">Bramki jakościowe - wózki</a>
        <a href="{% url 'qapp:iks_list' %}" class="index_button">Inspekcja końcowa - Solaris</a>
        <a href="{% url 'qapp:ikk_list' %}" class="index_button">Inspekcja końcowa - klient</a>
    </div>
{% endblock %}

{% block firstcard %}
    <h3>Pierwsze menu</h3>
    <hr>
    {% if user.is_authenticated %}
    Jakaś treść
    {% else %}
    Treść dostępna tylko dla zalogowanych użytkowników!
    {% endif %}
{% endblock %}