{% extends 'qapp/base.html' %}

{% block title %}QAPP - strona główna{% endblock%}

{% block content %}
    <div class="card" id="index">
        <h1>Wybierz moduł:</h1>
        <a href="{% url 'qapp:bjc_list' %}" class="index-button">Bramki jakościowe - człony</a>
        <a href="{% url 'qapp:bjw_list' %}" class="index-button">Bramki jakościowe - wózki</a>
        <a href="{% url 'qapp:ikw_list' %}" class="index-button">Inspekcja końcowa - wewnętrzna</a>
        <a href="{% url 'qapp:ikk_list' %}" class="index-button">Inspekcja końcowa - klient</a>
    </div>
{% endblock %}

{% block firstcard %}
    <h3>Informacje o użytkowniku</h3>
    <hr>
    {% if user.is_authenticated %}
    Zalogowany użytkownik: <b>{{ user }}</b>
    <br>
    <br>
    Należy do grupy:
    {% for group in user.groups.all %}
    <b>{{ group|upper }},</b>
    {% endfor %}
    {% else %}
    Treść dostępna tylko dla zalogowanych użytkowników!
    {% endif %}
{% endblock %}