{% extends 'qapp/base.html' %}
{% load user_tags %}

{% block title %}QAPP - lista bramek{% endblock%}

{% block content %}
<div class="card" id="gate_{{ gate_type }}_list">
    {% if user.is_authenticated and request.user|dzj_member %}
    <form action="{% url 'qapp:mass_update' %}" method="post">
        {% csrf_token %}
        <div id="fastaction">
            <button name="new_rating" type="submit" value="OK" class="ok-button-long">Akceptuj</button>
            <button name="new_rating" type="submit" value="NOK" class="nok-button-long">Odrzuć</button>
        </div>
    {% endif %}
        <table class="wp-table">
            <tr>
                {% if 'bjw' in gate_type %}
                <th><div class="rotated">Wózek</div></th>
                {% else %}
                <th><div class="rotated">Tramwaj</div></th>
                <th><div class="rotated">Człon</div></th>
                {% endif %}
                <th><div class="rotated">Obszar</div></th>
                <th><div class="rotated">Numer operacji</div></th>
                <th><div class="rotated">Nazwa</div></th>
                <th><div class="rotated">Status</div></th>
                <th><div class="rotated">Ocena</div></th>
                <th><div class="rotated">Zaznacz</div></th>
            </tr>
            {% for gate in gate_list %}
            <tr class="clickable" id="gate_{{ gate.id }}">
                {% if 'bjw' in gate_type %}
                <td><a href="{{ gate.get_absolute_url }}">{{ gate.bogie }}</a></td>
                {% else %}
                <td><a href="{{ gate.get_absolute_url }}">{{ gate.tram }}</a></td>
                <td><a href="{{ gate.get_absolute_url }}">{{ gate.car }}</a></td>
                {% endif %}
                <td><a href="{{ gate.get_absolute_url }}">{{ gate.area }}</a></td>
                <td><a href="{{ gate.get_absolute_url }}">{{ gate.operation_no }}</a></td>
                <td class="gate-name"><a href="{{ gate.get_absolute_url }}">{{ gate.name }}</a></td>
                <td><a href="{{ gate.get_absolute_url }}">{{ gate.status }}</a></td>
                <td><a href="{{ gate.get_absolute_url }}">{{ gate.rating|default:"---" }}</a></td>
                <td class="center">
                    <label for="{{ gate.id }}">
                        <div class="checkbox-area">
                            <input type="checkbox" id="{{ gate.id }}" name="{{ gate.id }}">
                        </div>
                    </label>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% if user.is_authenticated and request.user|dzj_member %}
    </form>
    {% endif %}
    {% if is_paginated %}
    <div class="pagination" align="center">
        <br>
        <span class="page-links">
            {% if page_obj.has_previous %}
            <a href="/qapp/{{ gate_type }}?{% param_replace page=page_obj.previous_page_number %}">poprzednia</a>
            {% else %}
            <a><font color="#CCC9C9">poprzednia</font></a>
            {% endif %}
            <span class="page-current">|  Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}  |</span>
            {% if page_obj.has_next %}
            <a href="/qapp/{{ gate_type }}?{% param_replace page=page_obj.next_page_number %}">następna</a>
            {% else %}
            <a><font color="#CCC9C9">nastepna</font></a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block firstcard %}
<h3>Filtrowanie</h3>
<hr>
{% if user.is_authenticated %}
<form method="get">
    <table>
        <tr>
        {% for field in gate_list_filter.form %}
        {% if 'bjw' in gate_type %}
        {% if 'tram' not in field.name and 'car' not in field.name %}
            <td>{{ field.label_tag}}</td>
            <td>{{ field }}</td>
        {% endif %}
        {% else %}
        {% if 'bogie' not in field.name %}
            <td>{{ field.label_tag}}</td>
            <td>{{ field }}</td>
        {% endif %}
        {% endif %}
        </tr>
        {% endfor %}
    </table>
    <hr>
    <button type="submit" class="standard-button">Filtruj</button>
    <button type="button" class="standard-button" onclick="location.href='{{ request.path }}'">Resetuj</button>
</form>
{% else %}
Filtrowanie dostępne tylko dla zalogowanych użytkowników!
{% endif %}
{% endblock %}