{% extends 'qapp/base.html' %}

{% block title %}QAPP - lista bramek{% endblock%}

{% block content %}
<div class="card" id="tram_01">
    {% if user.is_authenticated %}
        <form action="{% url 'qapp:mass_update' %}" method="post">
            {% csrf_token %}
            <div class="fastaction">
                <button name="new_rating" type="submit" value="OK" id="ok">Akceptuj</button>
                <button name="new_rating" type="submit" value="NOK" id="nok">Odrzuć</button>
            </div>
    {% endif %}
        <table class="wp-table">
            <tr>
                <th>Tramwaj</th>
                <th>Człon</th>
                <th>Obszar</th>
                <th>Numer operacji</th>
                <th>Nazwa</th>
                <th>Status bramki</th>
                <th>Ocena</th>
                <th>Zaznacz</th>
            </tr>
            {% for gate in bjc %}
                <tr class='clickable'>
                    <td onclick="window.location='{{ gate.get_absolute_url }}';">{{ gate.tram }}</td>
                    <td onclick="window.location='{{ gate.get_absolute_url }}';">{{ gate.car }}</td>
                    <td onclick="window.location='{{ gate.get_absolute_url }}';">{{ gate.area }}</td>
                    <td onclick="window.location='{{ gate.get_absolute_url }}';">{{ gate.operation_no }}</td>
                    <td onclick="window.location='{{ gate.get_absolute_url }}';">{{ gate.name }}</td>
                    <td onclick="window.location='{{ gate.get_absolute_url }}';">{{ gate.get_gate_status_display }}</td>
                    <td onclick="window.location='{{ gate.get_absolute_url }}';">{{ gate.get_gate_rating_display }}</td>
                    <td onclick="#"><input type="checkbox" name="{{ gate.pk }}"></td>
                </tr>
            {% endfor %}
        </table>
    {% if user.is_authenticated %}
        </form>
    {% endif %}
    {% if is_paginated %}
        <div class="pagination" align="center">
            <br>
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/qapp/bjc?page={{ page_obj.previous_page_number }}">poprzednia</a>
                {% endif %}
                <span class="page-current">
                      |  Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}  |
                </span>
                {% if page_obj.has_next %}
                    <a href="/qapp/bjc?page={{ page_obj.next_page_number }}">następna</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block firstcard %}
    <h3>Filtrowanie</h3>
    <hr>
    {% if user.is_authenticated %}
    <form method="get">
        <table>
            {% for field in bjc_filter.form %}
                <tr>
                    {% if 'bogie' not in field.name %}
                        <td>{{ field.label_tag}}</td>
                        <td>{{ field }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <hr>
        <button type="submit">Filtruj</button>
        <button onclick="location.href='{% url 'qapp:gate_list' %}'" type="button">Resetuj</button>
    </form>
    {% else %}
    Filtrowanie dostępne tylko dla zalogowanych użytkowników!
    {% endif %}
{% endblock %}