{% extends 'qapp/base.html' %}
{% load user_tags %}
{% load static %}

{% block title %}QAPP - moje bramki{% endblock%}

{% block content %}
<div class="card" id="my_gates">
    <table class="wp-table">
        <tr>
            <th>Typ</th>
            <th>Tramwaj</th>
            <th>Człon</th>
            <th>Wózek</th>
            <th>Obszar</th>
            <th>Numer operacji</th>
            <th>Nazwa</th>
            {% if request.user|dzj_member %}
            <th>Odpowiedzialny</th>
            {% else %}
            <th>Autor</th>
            {% endif %}
            <th>Status</th>
            <th>Ocena</th>
            {% if request.user|dzj_member %}
            <th>Edytuj</th>
            {% endif %}
        </tr>
        {% for gate in user_gates %}
        <tr class="clickable" id="gate_{{ gate.id }}">
            <td><a href="{{ gate.get_absolute_url }}">{{ gate.type }}</a></td>
            <td><a href="{{ gate.get_absolute_url }}">{{ gate.tram|default_if_none:"-----" }}</a></td>
            <td><a href="{{ gate.get_absolute_url }}">{{ gate.car|default_if_none:"-----" }}</a></td>
            <td><a href="{{ gate.get_absolute_url }}">{{ gate.bogie|default_if_none:"-----" }}</a></td>
            <td><a href="{{ gate.get_absolute_url }}">{{ gate.area }}</a></td>
            <td><a href="{{ gate.get_absolute_url }}">{{ gate.operation_no|default_if_none:"-----" }}</a></td>
            <td class="gate-name"><a href="{{ gate.get_absolute_url }}">{{ gate.name }}</a></td>
            {% if request.user|dzj_member %}
            <td>
                <a href="{{ gate.get_absolute_url }}">
                    {{ gate.responsible.last_name }} {{ gate.responsible.first_name }} ({{ gate.responsible }})
                </a>
            </td>
            {% else %}
            <td>
                <a href="{{ gate.get_absolute_url }}">
                    {{ gate.author.last_name }} {{ gate.author.last_name }} ({{ gate.author.username }})
                </a>
            </td>
            {% endif %}
            <td><a href="{{ gate.get_absolute_url }}">{{ gate.get_status_display }}</a></td>
            <td><a href="{{ gate.get_absolute_url }}">{{ gate.rating|default:"---" }}</a></td>
            {% if request.user|dzj_member %}
            <td class="center"><a href="{% url 'qapp:edit' gate.pk %}"><img src="{% static 'img/edit.png' %}"></a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
    <div class="pagination" align="center">
        <br>
        <span class="page-links">
            {% if page_obj.has_previous %}
            <a href="/qapp/mygates?{% param_replace page=page_obj.previous_page_number %}">poprzednia</a>
            {% else %}
            <a><font color="#CCC9C9">poprzednia</font></a>
            {% endif %}
            <span class="page-current">|  Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}  |</span>
            {% if page_obj.has_next %}
            <a href="/qapp/mygates?{% param_replace page=page_obj.next_page_number %}">następna</a>
            {% else %}
            <a><font color="#CCC9C9">nastepna</font></a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block firstcard %}
<h3>Filtrowanie</h3>
<hr>
{% if user.is_authenticated %}
<form method="get">
    <table>
        {% for field in user_gates_filter.form %}
        {% if not 'area' in field.name %}
        <tr>
            <td>{{ field.label_tag}}</td>
            <td>{{ field }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <hr>
    <button type="submit" class="standard-button">Filtruj</button>
    <button type="button" class="standard-button" onclick="location.href='{% url 'qapp:my_gates' %}'">Resetuj</button>
</form>
{% else %}
Filtrowanie dostępne tylko dla zalogowanych użytkowników!
{% endif %}
{% endblock %}